body{
    background-color: rgb(44, 44, 44);
    color: rgb(221, 221, 221);
}

#header{
    width: 500px;
    font-size: 100px;
    text-align: center;
    font-family: monospace;
    font-weight: 800;
    margin: 50px auto;
    border: 2px solid red;
    padding: 10px;
}

.para{
    width: 900px;
    font-size: 50px;
    text-align: center;
    font-family: serif;
    margin: 20px auto;
    padding: 10px;
    border-bottom: 5px dotted white;
}

ul{
    text-align: center;
    list-style: none;
}

li{
    margin: 20px;
}

a {
    color: rgb(100, 196, 228);
    font-size: 40px;
}